@page "/"
@inject IAlertService Alerts

<h1>Alerts Demo</h1>
<p style="color: darkblue" class="small pb-5">Run the application using the CG.Alerts.QuickStart profile, so you can see the console output ...</p>

<div style="max-width: 450px;">
	<div class="form-group">
		<label>This button demonstrates how to raise an audit alert.</label>
		<button @onclick="@(() => Alerts.Raise<AuditAlert>())">Raise Audit Alert</button>
		<label class="small">Look at the console for this alert's output.</label>
	</div>
	<div class="form-group">
		<label>This button demonstrates how to raise an information alert.</label>
		<button @onclick="@(() => Alerts.Raise<InformationAlert>())">Raise Information Alert</button>
		<label class="small">Look at the console for this alert's output.</label>
	</div>
	<div class="form-group">
		<label>This button demonstrates how to raise a warning alert.</label>
		<button @onclick="@(() => Alerts.Raise<WarningAlert>())">Raise Warning Alert</button>
		<label class="small">Look at the console for this alert's output.</label>
	</div>
	<div class="form-group">
		<label>This button demonstrates how to raise an error alert.</label>
		<button @onclick="@(() => Alerts.Raise<ErrorAlert>())">Raise Error Alert</button>
		<label class="small">Look at the console for this alert's output.</label>
	</div>
	<div class="form-group">
		<label>This button demonstrates how to raise a critical error alert.</label>
		<button @onclick="@(() => Alerts.Raise<CriticalErrorAlert>())">Raise Critical Error Alert</button>
		<label class="small">Look at the console for this alert's output.</label>
	</div>
	<div class="form-group pt-3">
		<label>This button demonstrates how to raise a custom alert.</label>
		<button @onclick="@(() => Alerts.Raise<CustomAlert>())">Raise Custom Alert</button>
		@if (!string.IsNullOrEmpty(AlertMsg))
		{
			<p style="color: blue" class="pl-5 pt-1">@AlertMsg</p>
		}
	</div>
</div>

@code {
	string AlertMsg { get; set; }
	protected override void OnInitialized()
	{
		// This demonstrates one way of integrating alerts with the UI.
		CustomAlert.OnAlert += (m) => AlertMsg = m;
		base.OnInitialized();
	}
}